<div class="card">
	<div class="card-header">
		<strong><i class="fa fa-user" aria-hidden="true"></i> ADD Employee</strong>
	</div>
	
	<div class="card-content">
		<div class="card-body">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
					<fieldset class="form-group">
						<label for="first_name">First Name</label>
						<input type="text" [(ngModel)]="employeeModel.first_name" #first_name="ngModel" name="first_name" class="form-control" placeholder="First Name" required />
						<!-- <app-disp-validation [errors]="ser	verMessage?.first_name"></app-disp-validation> -->
					</fieldset>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
					<fieldset class="form-group">
						<label for="last_name">Last Name</label>
						<input type="text" [(ngModel)]="employeeModel.last_name" #last_name="ngModel" name="last_name" class="form-control" placeholder="Last Name" required />
						<!-- <app-disp-validation [errors]="serverMessage?.last_name"></app-disp-validation> -->
					</fieldset>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
					<fieldset class="form-group">
						<label for="email">Email address</label>
						<input type="email" [(ngModel)]="employeeModel.email" #email="ngModel" name="email" class="form-control" placeholder="Email Address" required />
						<!-- <app-disp-validation [errors]="serverMessage?.email"></app-disp-validation> -->
					</fieldset>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
					<fieldset class="form-group">
						<label for="company_name">Company Name</label>
						<input type="text" [(ngModel)]="employeeModel.company_name" #company_name="ngModel" name="company_name" class="form-control" placeholder="Last Name" required />
						<!-- <app-disp-validation [errors]="serverMessage?.company_name"></app-disp-validation> -->
					</fieldset>
				</div>
				<div class="col-md-12">
    				<a class="btn btn-danger m-2" [routerLink]="['/']"><i class="fa fa-times"></i> Cancel</a>
    				<button class="btn btn-primary" type="submit"><i class="fa fa-check-square-o"></i> Save</button>
        		</div>
			</div>
		</div>
	</div>
</div>

