<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      {{data | json}}
      <!-- <tr *ngFor="let employeeData of data">
        <td>
          {{ employeeData.first_name }}&nbsp;{{ employeeData.last_name }}
          <div class="text-muted">{{ employeeData.email }}</div>
        </td>
        <td>{{ employeeData.company_name }}</td>
      </tr> -->
    </tbody>
  </table>
  